<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style="max-width:1500px;margin:0 auto">
            <h3>Всего объявлений: <%= data.length %></h3>
            <% data.forEach(function(apt) { %>
                <table cellpadding=10 border=1>
                    <tr>
                        <td><a href="<%= apt.url %>"><%= Object( apt.address ).normal %></a></td>
                        <td><%= apt.metro %></td>
                        <td><%= apt.phone %></td>
                        <td><%= apt.price %></td>
                        <td><%= apt.description %></td>
                        <td><%= String(apt.published) %></td>
                    </tr>
                </table>
            <% }) %>
        </div>
    </body>
</html>
